@use '../modules/mixins' as mix;

.admin-login-wrapper {
  background-image: url(../../images/flight.jpg);
  background-color: rgba(0, 0, 0, 0.92);
  background-blend-mode: overlay;
  background-size: cover;
  padding-top: 120px;
  min-height: 100vh;
  .login-card {
    @include mix.plain-card(7px, 350px);
    margin: 0 auto;
    h3 {
      color: var(--custom-purple);
    }
    input {
      padding: 7px;
    }
    button {
      padding: 7px 15px;
      font-size: 16px;
      background-color: var(--custom-purple);
      border-color: var(--custom-purple);
      &:hover {
        transform: scale(1.04);
        transition: transform 0.75s ease;
      }
    }
  }
}
